<div id='main-header' style='position:fixed;top:0;width:100%;background-color: #f5f5f5;z-index:4;'>
    <button class="buttonIcon2 arrLeft"
            data-bind=" click: dl.backToClick,
                               ojComponent: {
                                   component:'ojButton', 
                                   icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}
                               }">
    </button>
    <h3 id="header" class="itemTitle" data-bind="text:dl.headerTitle"></h3>
</div>
<div id="mPnavlistcontainer" class="demo-panel-contrast1 oj-contrast-marker" >
    <oj-list-view id="mPmainmenu" 
            data="[[dataSource]]" item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('folder_template', true)]]" selection-mode="single">
    </oj-list-view>
</div>

<script type="text/html" id="folder_template">
    <li class="appList" data-bind="event:{click:$parent.iClicked}">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-middle oj-flex-bar">
<!--                <div class="oj-flex-bar-middle_con oj-flex-bar-middle_right"  data-bind="text: $data['compere'] "></div>-->
                <div class="oj-flex-bar-middle_con oj-flex-bar-middle_right"  data-bind="text:'('+$data['subject']+')'"></div>
            </div>
            <div class="oj-flex-bar-end oj-sm-align-items-end">
                <div role="presentation" class="oj-flex-item oj-fwk-icon oj-listview-drill-icon"></div>
            </div>      
        </div>

    </li>
</script>