
<div id="cNnavlistcontainer" class="demo-panel-contrast1 oj-contrast-marker">
    <div class="topHeader" >
        <button  class="buttonIcon2 arrLeft"
                 data-bind=" click: dl.backToClick,
                               ojComponent: {
                                   component:'ojButton', 
                                   icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}, 
                                   label: ''
                               }">
        </button>
        <h3 id="header" class="itemTitle" data-bind="text:specialHeaderTitle"></h3>
    </div>

    <div class="disFlex mt70"data-bind='visible: isApproval()'>
        <button class="button" data-bind="attr: {id : 0}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '同意'}"></button>
        <button class="button" data-bind="attr: {id : 1}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '驳回'}"></button>
        <button class="button" data-bind="attr: {id : 2}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '回退'}"></button>
        <button class="button" data-bind="attr: {id : 3}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '转交'}"></button>
    </div>   
    <button class='mar20 jindu' data-bind="event: {click: jinduClick},style:{marginTop:isApproval()? '20px' :'70px'}">进度</button>
    <div id='mainmenu' >
        <ul class='list'>
            <li>
                <span class="title">转正员工姓名：</span>   <span data-bind="text:dl.getLabelByValue('employees', __employeeId())"></span>
            </li>
            <li>
                <span class="title">归属公司：</span>   <span data-bind="text:dl.getLabelByValue('system_dictionary_26', __companyId())"></span>
            </li>       
            <li>
                <span class="title">入职日期：</span>   <span data-bind="text: dl.dateConverter.format(dl.parseValueFromService(__startDate()))"></span>
            </li>
            <li>
                <span class="title">所在部门：</span>   <span data-bind="text:dl.getLabelByValue('departments',__departmentId())"></span>
            </li>
            <li>
                <span class="title">转正类型：</span>  
                <input class="cont" data-bind="enable :isenable(-1),ojComponent: {component: 'ojSelect', value: __type, options: dl.getOptionsByName('system_dictionary_98',true)}"/>
                <!--数字必须加true不然不显示-->
            </li> 
            <li>
                <span class="title">工号：</span>   <span data-bind="text:__employeeNo()"></span>
            </li>             
            <li>
                <span class="title">转正日期：</span>  
                <input data-bind="enable :isenable(0),ojComponent: {component: 'ojInputDate', value: __endDate, converter: dl.dateConverter}"/>
            </li>
            <li>
                <span class="title">职务：</span>   <span data-bind="text:dl.getLabelByValue('duties',__dutyId())"></span>
            </li>
            <li data-bind='visible: isshow(1)'>
                <span class="title">职级：</span>  
                <input class="cont" data-bind=" enable :isenable(1),ojComponent: {component: 'ojSelect', value: __targetProvince, options: dl.getOptionsByName('system_dictionary_3',true)}"/>
            </li>
            <li data-bind='visible: isshow(2)'>
                <span class="title">个人效益指数：</span>   <input data-bind="value: __fee, enable :isenable(2)"/>
            </li>
            <li data-bind='visible: isshow(3)'>
                <span class="title">试用期薪资：</span>   <input data-bind="value:__originalPay,enable :isenable(3)"/>
            </li>
            <li data-bind='visible: isshow(4)'>
                <span class="title">转正后薪资：</span>   <input data-bind="value: __totalPay, enable :isenable(4) " />
            </li> 
            <li data-bind='visible: isshow(5)'>
                <span class="title">月薪：</span>   <input data-bind="enable :isenable(5),value: __monthPay"/>
            </li>
            <li data-bind='visible: isshow(6)'>
                <span class="title">工龄工资：</span>   <input data-bind=" enable :isenable(6),value: __foremanPay"/>
            </li>
            <li data-bind='visible: isshow(7)'>
                <span class="title">基本比例(%)：</span>   <input class="textmany" data-bind=" enable :isenable(7),value: __basicProportionStr"/>
            </li>
            <li data-bind='visible: isshow(8)'>
                <span class="title">其他补贴：</span>   <input class="textmany" data-bind="enable :isenable(8),value: __otherSubsidy()"/>
            </li>
            <li data-bind='visible: isshow(9)'>
                <span class="title">月基本工资：</span>  
                <span class="textmany" data-bind=" enable :isenable(9),text: __monthBasicPay()"></span>
            </li>
            <li data-bind='visible: isshow(10)'>
                <span class="title">年度绩效：</span>  
                <input class="textmany" data-bind="enable :isenable(10),value: __annualPerformance()"/>
            </li>
            <li data-bind='visible: isshow(11)'>
                <span class="title">月绩效工资：</span>  
                <span class="textmany" data-bind="enable :isenable(11),text: __monthPerformancePay()"></span>
            </li>
            <li data-bind='visible: isshow(12)'>
                <span class="title">费用归属：</span>  
                <input class="cont" data-bind="enable :isenable(12),ojComponent: {component: 'ojSelect', value: __costAttribution, options: dl.getOptionsByName('system_dictionary_114',true)}"/>
            </li>
            <li data-bind='visible: isshow(13)' style='min-height: 45px;height: auto;overflow-y: auto;max-height: 100px;'>
                <span class="title">自我鉴定：</span>   
                <textarea style='min-height: 45px;line-height: 35px;flex: 2;padding: 2px;border:none;' data-bind="value: __reason, enable :isenable(13)"></textarea>
            </li>
            <li data-bind='visible: isshow(14)' style='min-height: 45px;height: auto;overflow-y: auto;max-height: 100px;'>
                <span class="title">试用期工作总结：</span>  
                <textarea style='min-height: 45px;line-height: 35px;flex: 2;padding: 2px;border:none;' data-bind="value: __remark, enable :isenable(14)"></textarea>
            </li>
            <li>
                <span class="title">转正员工附件：</span>
                <span  class="demo-download-icon-24 demo-icon-font-24" style="font-size:18px;padding-right: 10px;" data-bind="click: uploadAttachmentClick"></span>
                <a class="file" style='flex: 2; overflow: auto; border: none' data-bind=" attr: {href: __attachmentName}, text: uploadFileName" target="_blank"></a>
            </li>
            <li>
                <span class="title">职位素质考评表附件：</span>
                <span  class="demo-download-icon-24 demo-icon-font-24" style="font-size:18px;padding-right: 10px;" data-bind="click: uploadAttachmentClick"></span>
                <a class="file" style='flex: 2; overflow: auto; border: none' data-bind=" attr: {href: __attachmentName}, text: uploadFileName" target="_blank"></a>
            </li>
            <li>
                <span class="title">职位薪资说明表附件：</span>
                <span  class="demo-download-icon-24 demo-icon-font-24" style="font-size:18px;padding-right: 10px;" data-bind="click: uploadAttachmentClick"></span>
                <a class="file" style='flex: 2; overflow: auto; border: none' data-bind=" attr: {href: __attachmentName}, text: uploadFileName" target="_blank"></a>
            </li>
        </ul>
    </div>

</div>
<div class="zjList" style="margin:20px 0;">
    <span style="font-weight:bold;color:#FF7F27;" data-bind="text: errorMessage"></span>
</div>
<div class=" mar20 zjList" data-bind='visible: isApproval()'>
    <span class="w75 textR">转交人：</span>
    <select id="basicSelect" data-bind="ojComponent: {component: 'ojSelect',
                                value: additionalApprovalment,
                                placeholder: '',
                                rootAttributes: {style:'max-width:18em'}, options: dl.getOptionsByName('employees', true)}">
    </select>
</div>
<div class=" mar20 zjList" data-bind='visible: isApproval()'>
    <span class="w75">审批意见：</span>
    <textarea id="textarea1" 
              type="text"
              class="oj-form-control oj-textarea-nocomp"
              data-bind="value: processComment">

    </textarea>

</div>
<div class="mar20 disFlex" data-bind='visible: isApproval()'>
    <button class="button" data-bind="attr: {id : 0}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '同意'}"></button>
    <button class="button" data-bind="attr: {id : 1}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '驳回'}"></button>
    <button class="button" data-bind="attr: {id : 2}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '回退'}"></button>
    <button class="button" data-bind="attr: {id : 3}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '转交'}"></button>
</div>   
<button class='mar20 jindu mb40' data-bind="event: {click: jinduClick}">进度</button>
<style>
    textarea:disabled, input:not([type]):disabled{
        background-color: #fff;
        color:#999;
    }

</style>





