
    <div id='rBmain-header'>
        <button  class="buttonIcon2 arrLeft"
                data-bind=" click: dl.backToClick,
                               ojComponent: {
                                   component:'ojButton', 
                                   icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}, 
                                   label: ''
                               }">
        </button>
        <h3 id="header" class="itemTitle" data-bind="text:dl.headerTitle"></h3>
    </div>
    <div class='normal_approvalment' data-bind="ojComponent:{
                            component:'ojListView',
                            data: dataSource,
                            item: { template: 'folder_template' },
                            selection: selectedItem
                }">

    </div>
    <div class='pooled_approvalment' data-bind="ojComponent:{
                            component:'ojListView',
                            data: dataSource1,
                            item: { template: 'folder_template1' },
                            selection: selectedItem
                }">

    </div>

<script type="text/html" id="folder_template">

    <li class="appList" data-bind="attr: {id: $data['businessId']}, event:{click:$parent.iClicked}">
        <div class="oj-flex-bar">
            <div data-bind="attr: {class: 'oj-flex-bar-start oj-flex-bar '+dl.isNullOrUndefined($data['iconClass']) ? 'oj-navigationlist-item-icon demo-home-icon-24 demo-icon-font-24': $data['iconClass']}">
            </div>
            <div class="oj-flex-bar-middle oj-flex-bar">
                <div class="oj-flex-bar-middle oj-flex-bar dhsl">       
                <span class='first' data-bind="text: dl.isNullOrUndefined($data['applicant']) ? dl.getLabelByValue('employees', $data['employeeId']) :dl.getLabelByValue('employees', $data['applicant'])"></span>
               <span class='second' data-bind="text:'('+dl.currencyConverter.format( $data['fee'])+')'"></span>
            </div>
            </div>
            <div class="oj-flex-bar-end oj-sm-align-items-end">
                <div role="presentation" class="oj-flex-item oj-fwk-icon oj-listview-drill-icon"></div>
            </div>     
        </div>

    </li>
</script>

<script type="text/html" id="folder_template1">
    <li class="appList" data-bind="attr: {id: $data['businessId']}, event:{click:$parent.pooledClicked}">
        <div class="oj-flex-bar">
            <div data-bind="attr: {class: 'oj-flex-bar-start oj-flex-bar '+dl.isNullOrUndefined($data['iconClass']) ? 'oj-navigationlist-item-icon demo-home-icon-24 demo-icon-font-24': $data['iconClass']}">
            </div>
            <div class="oj-flex-bar-middle oj-flex-bar dhsl">       
                <span class='first' data-bind="text: dl.isNullOrUndefined($data['applicant']) ? dl.getLabelByValue('employees', $data['employeeId']) :dl.getLabelByValue('employees', $data['applicant'])"></span>
                <span class='second' data-bind="text:'('+dl.currencyConverter.format( $data['fee'])+')'"></span>
            </div>
            <div class="oj-flex-bar-end oj-sm-align-items-end" style='vertical-align:center;'>
                <div role="presentation" class="oj-flex-item oj-fwk-icon oj-listview-drill-icon"></div>
            </div>     
        </div>
    </li>
</script>

