
<div id="cNnavlistcontainer" class="demo-panel-contrast1 oj-contrast-marker">
    <div class="topHeader" >
        <button  class="buttonIcon2 arrLeft"
                 data-bind=" click: dl.backToClick,
                               ojComponent: {
                                   component:'ojButton', 
                                   icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}, 
                                   label: ''
                               }">
        </button>
        <h3 id="header" class="itemTitle" data-bind="text:specialHeaderTitle"></h3>
    </div>

    <button class='mar20 mt70 jindu ' data-bind="event: {click: jinduClick}">进度</button>
    <div id='mainmenu' data-bind="ojComponent:{
                            component:'ojListView',
                            drillMode:'sliding',
                            data: dataSourcect,
                            item: { template: 'ct-folder_template' }
                }">
    </div>
    <h3 class="navTitle">差旅报销费用清单</h3>
    <div id='mainmenu' data-bind="ojComponent:{
                            component:'ojListView',
                            drillMode:'sliding',
                            data: dataSourcect1,
                            item: { template: 'ct-folder_template1' }
                }">
    </div>
    <h3 class="navTitle">费用分拆</h3>
    <div id='mainmenu' data-bind="ojComponent:{
                            component:'ojListView',
                            drillMode:'sliding',
                            data: dataSourcect2,
                            item: { template: 'ct-folder_template2' }
                }">
    </div>

    <h3 class="navTitle">账单流水</h3>

    <div id="navlistcontainer3" class="demo-panel-contrast1 oj-contrast-marker" style="width: 100%; height: 100%;">
        <div id='mainmenu' data-bind="ojComponent:{
                            component:'ojListView',
                            drillMode:'sliding',
                            data: dataSourcect3,
                            item: { template: 'ct-folder_template3' }
                }">
        </div>
    </div>
    <button class='mar20 jindu mb40' data-bind="event: {click: jinduClick}">进度</button>
</div>

<script type="text/html" id="ct-folder_template">
    <ul class='list'>
        <li>
            <span class="title">报销编号：</span>   <span class="cont" data-bind="text:$data['code']"></span>
        </li>
        <li>
            <span class="title">主题：</span>   <span data-bind="text:$data['title']"></span>
        </li>
        <li>
            <span class="title">起 草 人：</span>   <span data-bind="text:dl.getLabelByValue('employees', $data['drafter'])"></span>
        </li>
        <li>
            <span class="title">报 销 人：</span>   <span data-bind="text:dl.getLabelByValue('employees', $data['applicant'])"></span>
        </li>
        <li>
            <span class="title">部门：</span>   <span data-bind="text:dl.getLabelByValue('all_departments', $data['departmentId'])"></span>
        </li>
        <li>
            <span class="title">归属公司：</span>   <span data-bind="text:dl.getLabelByValue('system_dictionary_26', $data['companyId'])"></span>
        </li>
        <li>
            <span class="titlelong">出差开始时间：</span>   <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['startDate']))"></span>
        </li>
        <li>
            <span class="titlelong">出差结束时间：</span>   <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['endDate']))"></span>
        </li>
        <li>
            <span class="title">报销总金额：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['amount']))"></span>
        </li>
        <li>
            <span class="title">货币种类：</span>   <span>人民币</span>
        </li>
        <li>
            <span class="title">报销事由：</span>   <span data-bind="text:$data['remark']"></span>
        </li>
        <li>
            <span class="title">申请时间：</span>   <span data-bind="text:dl.datetimeConverter.format(dl.parseValueFromService($data['applyTime']))"></span> 
        </li>
        <li>
            <span class="title">附件：</span>  
            <span>
                <a class='attachment' target='_self' data-bind="attr:{href : $data['attachment']}" >
                    <i class='link' data-bind="text:dl.isNullOrUndefined($data['attachment']) ? '无':$data['attachment']"></i>
                    <span class='attachmentWarning'>（附件可打开预览）</span>
                </a>
            </span>
        </li>
    </ul>
</script>

<script type="text/html" id="ct-folder_template1">
    <ul class='list' data-bind="attr:{id: $data['mainItemId']}">
        <li>
            <span class="title">开始日期：</span>   <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['startDate']))"></span>
        </li>
        <li>
            <span class="title">结束日期：</span>   <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['endDate']))"></span>

        <li>
            <span class="title">出发地：</span>   <span data-bind="text: $data['startAddress']"></span>
        </li>
        <li>
            <span class="title">目的地：</span>   <span data-bind="text: $data['arrivingAddress']"></span>
        </li>
        <li>
            <span class="title">天数：</span>   <span data-bind="text:$data['travelDays']"></span>
        </li>
        <li>
            <span class="title">机票：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['airfare']))"></span>

        <li>
            <span class="title">车船费：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['carBoatFee']))"></span>
        </li>
        <li>
            <span class="title">市内交通费：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['cityTransportation']))"></span>
        </li>
        <li>
            <span class="title">托运费：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['shippingFee']))"></span>
        </li>
        <li>
            <span class="title">住宿费：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['accommodationFee']))"></span>
        <li>
            <span class="title">自驾车费：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['drivingFee']))"></span>
        </li>
        <li>
            <span class="title">出差补助：</span>   <span data-bind="text: dl.numberConverter.format(dl.parseValueFromService($data['travelAllowance']))"></span>
        </li>
        <li>
            <span class="title">小计：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['sum']))"></span>
        </li>
        <li class="textmany">
            <span class="title">摘要：</span>   <span data-bind="text: $data['remark']"></span>
        </li>
    </ul>
</script>

<script type="text/html" id="ct-folder_template2">
    <ul class='list'>
        <li>
            <span class="title">部门：</span>   <span data-bind="text:dl.getLabelByValue('all_departments', $data['departmentId'])"></span>
        </li>
        <li>
            <span class="title">费用：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['amount']))"></span>
        </li>
        <li>
            <span class="title">进项税：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['inputTax']))"></span>
        </li>
        <li>
            <span class="title">成本：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['finalAmount']))"></span>
        </li>
    </ul>
</script>

<script type="text/html" id="ct-folder_template3">
    <ul class='list'>
        <li>
            <span class="title">收款方：</span>   <span data-bind="text:$data['payeeName']"></span>
        </li>
        <li>
            <span class="title flex1_5">银行名称（收款方）：</span>   <span data-bind="text:$data['selfBankName']"></span>
        </li>
        <li>
            <span class="title flex1_5">银行账号（收款方）：</span>   <span data-bind="text:$data['selfBankAccount']"></span>
        </li>
        <li>
            <span class="title">付款金额：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['payMoney']))"></span>
        </li>
        <li>
            <span class="title">冲账金额：</span>   <span data-bind="text:dl.numberConverter.format(dl.parseValueFromService($data['balanceAmount']))"></span>
        </li>
        <li>
            <span class="textmany title">备注：</span>   <span data-bind="text:$data['remark']"></span>
        </li>
        <h3 ></h3>
    </ul>
</script>
