<div id='rBmain-header'>
    <button class="buttonIcon2 arrLeft"
            data-bind=" click: dl.backToClick,
                               ojComponent: {
                                   component:'ojButton', 
                                   icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}
                               }">
    </button>
    <h3 id="header" class="itemTitle" data-bind="text:'选择前期项目新增前期跟踪记录台账'"></h3>
</div>
<div style=" margin-top: 70px; margin-left:19px;">
<oj-label for="basicSelect" class='title1'>搜索项目</oj-label>
    <input class='inputtext' id='basicSelect' type="text" data-bind='value: searchVal'/>
    <button class='smallbut1' data-bind="event:{'click': sureClick}">确定</button>
</div>
<div id="mPnavlistcontainer" class="demo-panel-contrast1 oj-contrast-marker" >
    <div id='mPmainmenu' style='margin-top:10px;' data-bind="ojComponent:{
                            component:'ojListView',
                            drillMode:'sliding',
                            data: dataSource,
                            item: { template: 'folder_template' },
                            selection: selectedItem
                }">

    </div>
</div>

<script type="text/html" id="folder_template">
    <li class="appList" data-bind="attr: {id: $data['preProjectId']}, event:{click:$parent.iClicked}">
        <div class="oj-flex-bar">
            <div data-bind="attr: {class: 'oj-flex-bar-start oj-flex-bar oj-navigationlist-item-icon demo-person-icon-24 demo-icon-font-24 '}"> </div>
            <div class="oj-flex-bar-middle oj-flex-bar">
                <div style='width:340px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;padding-left:7px;'>
                    <span class="" data-bind="text: $data['projectName']"></span>
                    <span class=""  data-bind="text:'('+$data['infoCode']+')'"></span>
                </div>
            </div>
            <div class="oj-flex-bar-end oj-sm-align-items-end">
                <div role="presentation" class="oj-flex-item oj-fwk-icon oj-listview-drill-icon"></div>
            </div>      
        </div>

    </li>
</script>
<style>
    .title1{
    display:inline-block;
    font-weight: bold;
    font-size: 15px;
    }
    .inputtext{
     width: 55%;
    max-width: 400px;
    height: 30px;
    line-height: 30px;
  
    }
    .smallbut1{
        width:70px;
    font-size: 1rem;
    flex: 1;
    margin-left: 4px;
    background: #00ccff!important;
    color: #fff!important;
    border-radius: 4px;
    border: none;
    height: 36px;
    }
</style>