<div id="projectstagetemplate-view-container">
	<oj-form-layout id="projectstagetemplate-view-layout" label-edge="{{_labelEdge}}" max-columns="{{_maxColumns}}"> 
		<oj-input-text id="projectstagetemplate-project_stage_template_id" value="[[__projectStageTemplateId]]" readonly label-hint="id"></oj-input-text>
		<oj-input-text id="projectstagetemplate-project_stage_template_name" value="[[__projectStageTemplateName]]" readonly label-hint="模板名称"></oj-input-text>
		<oj-input-text id="projectstagetemplate-plate_id" value="[[__plateId]]" readonly label-hint="业务部门id"></oj-input-text>
		<oj-input-text id="projectstagetemplate-project_id" value="[[__projectId]]" readonly label-hint="项目id"></oj-input-text>
		<oj-input-text id="projectstagetemplate-project_type" value="[[__projectType]]" readonly label-hint="项目类别"></oj-input-text>
		<oj-input-text id="projectstagetemplate-remark" value="[[__remark]]" readonly label-hint="备注"></oj-input-text>
	</oj-form-layout>
</div>
