
<div id="cNnavlistcontainer" class="demo-panel-contrast1 oj-contrast-marker">
    <div class="topHeader" >
        <button  class="buttonIcon2 arrLeft"
                data-bind=" click: dl.backToClick,
                               ojComponent: {
                                   component:'ojButton', 
                                   icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}, 
                                   label: ''
                               }">
        </button>
        <h3 id="header" class="itemTitle" data-bind="text:specialHeaderTitle"></h3>
    </div>

    <button class='mar20 mt70 jindu' data-bind="event: {click: jinduClick}">进度</button>
    <div id='mainmenu' data-bind="ojComponent:{
                            component:'ojListView',
                            drillMode:'sliding',
                            data: dataSource,
                            item: { template: 'folder_template' }
                }">

    </div>
</div>
 
<button class='mar20 jindu mb40' data-bind="event: {click: jinduClick}">进度</button>

<script type="text/html" id="folder_template">
    <ul class='list'>
         <p class="littleTitle">基本信息</p>
        <li>
            <span class="title">员工编号：</span>   <span data-bind="text: $data['employeeNo']"></span>
        </li>      
        <li>
            <span class="title">员工姓名：</span>   <span data-bind="text:$data['employeeName']"></span>
        </li>
        <li>
            <span class="title">身份证号：</span>   <span data-bind="text:$data['card']"></span>
        </li>
           <li>
            <span class="title">出生日期：</span>   <span data-bind="text:dl.dateConverter.format(dl.parseValueFromService( $data['birth']))"></span>
        </li>
         <li>
            <span class="title">婚姻状况：</span>   <span data-bind="text:dl.getLabelByValue('system_dictionary_77', $data['marriedStatus'])"></span>
        </li>
        <li>
            <span class="title">参加工作时间：</span>    <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['startWorkDate']))"></span>
        </li>
         <p class="littleTitle">人事信息</p>   
        <li>
             <span class="title">入职日期：</span>    <span data-bind="text: dl.dateConverter.format(dl.parseValueFromService($data['onboardDate']))"></span>
        </li>
        <li>
             <span class="title">试用期：</span>    <span data-bind="text:$data['tryTime']"></span>
        </li>
        <li>
            <span class="title">工作地点：</span>   <span data-bind="text:$data['workAddress']"></span>
        </li>  
         <li>
            <span class="title">人事状态：</span>   <span data-bind="text:dl.getLabelByValue('system_dictionary_96', $data['onboardStatus'])"></span>
        </li> 
        <li>
             <span class="titlelong">劳动合同开始时间：</span>    <span data-bind="text: dl.dateConverter.format(dl.parseValueFromService($data['contractStartDate']))"></span>
        </li>
        <li>
             <span class="titlelong">劳动合同到期时间：</span>    <span data-bind="text: dl.dateConverter.format(dl.parseValueFromService($data['contractEndDate']))"></span>
        </li>
        <li>
            <span class="title">所属公司：</span>   <span data-bind="text:dl.getLabelByValue('system_dictionary_26', $data['ownedCompany'])"></span>
        </li> 
        <li>
            <span class="title">业务部门：</span>   <span data-bind="text:dl.getLabelByValue('all_departments',$data['departmentId'])"></span>
        </li>      
        <li>
            <span class="title">岗位：</span>   <span data-bind="text:dl.getLabelByValue('duties', $data['dutyId'])"></span>
        </li>     
        <li>
            <span class="title">职级：</span>   <span data-bind="text:dl.getLabelByValue('system_dictionary_3',$data['gradeId'])"></span>
        </li>
        <p class="littleTitle">联系信息</p>
        <li>
            <span class="title">手机号码：</span>   <span data-bind="text: $data['mobile']"></span>
        </li>     
<!--        <p class="littleTitle">薪资信息</p>
        <li>
            <span class="title">试用期薪资：</span>   <span data-bind="text: $data['tryTimePay']"/>
        </li> 
        <li>
            <span class="title">转正工资：</span>   <span data-bind="text: $data['positivePay']"/>
        </li>      
        <li>
            <span class="title">年度绩效：</span>   <span data-bind="text: dl.getLabelByValue('duties',$data['annualPerformance'])"/>
        </li>     
        <li>
            <span class="title">年度奖金：</span>   <span data-bind="text: $data['annualBonus']"/>
        </li>
         <li>
            <span class="title">费用归属：</span>  
             <span data-bind="text:dl.getLabelByValue('system_dictionary_114',$data['costAttribution'])"></span>
        </li> 
         <li>
            <span class="title">员工角色：</span>  
             <span data-bind="text:dl.getLabelByValue('roles',$data['roleId'])"></span>
        </li> -->
    </ul>
</script>


