
<div id="cNnavlistcontainer" class="demo-panel-contrast1 oj-contrast-marker">
    <div class="topHeader" >
        <button  class="buttonIcon2 arrLeft"
                 data-bind=" click: dl.backToClick,
                               ojComponent: {
                                   component:'ojButton', 
                                   icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}, 
                                   label: ''
                               }">
        </button>
        <h3 id="header" class="itemTitle" data-bind="text:specialHeaderTitle"></h3>
    </div>

    <div class="disFlex mt70" data-bind='visible: isApproval()'>
        <button class="button" data-bind="attr: {id : 0}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '同意'}"></button>
        <button class="button" data-bind="attr: {id : 1}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '驳回'}"></button>
        <button class="button" data-bind="attr: {id : 2}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '回退'}"></button>
        <button class="button" data-bind="attr: {id : 3}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '转交'}"></button>
    </div>   
    <button class='mar20 jindu' data-bind="event: {click: jinduClick},style:{marginTop:isApproval()? '20px' :'70px'}">进度</button>
    <h3 class="navTitle">原始申请信息</h3>
    <div id='mainmenu' data-bind="ojComponent:{
                            component:'ojListView',
                            drillMode:'sliding',
                            data: dataSource,
                            item: { template: 'folder_template' }
                }">

    </div>
    <h3 class="navTitle">更改行程申请信息</h3>
    <div id='mainmenu'>
        <ul class="list" data-bind="foreach: arr">
            <li>
                <span class="title">流程类型：</span></br>   <span class="cont" data-bind="text:dl.getLabelByValue('system_process_types', $data.processType)"></span>
            </li>
            <li>
                <span class="title">开始日期：</span>   
                <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['startDate']))"></span>
            </li>
            <li>
                <span class="title"> 开始时段：</span> 
                <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['startDateDetail']))"></span>
            </li>
            <li>
                <span class="title"> 结束日期：</span>   
                <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['endDate']))"></span>
            </li>
            <li>
                <span class="title"> 结束时段：</span> 
                <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['endDateDetail']))"></span>
            </li>   
            <li>
                <span class="title">天数：</span>   <span class="cont" data-bind="text:$data.days"></span> 
            </li>
            <li data-bind="visible: $parent.show()">
                <span class="title"> 出差地址：</span>   <span class="cont" data-bind="text:$data.address"></span> 
            </li>
            <li data-bind="visible: $parent.show()">
                <span class="title"> 交通工具：</span>    <span class="cont" data-bind="text:$data.transportation"></span>
            </li>
            <li>
                <span class="title">预计费用：</span>    <span class="cont" data-bind="text:$data.fee"></span>  
            </li>
            <li>
                <span class="titlelong">申请缘由：</span>    <span class="cont" data-bind="text:$data.reason"></span> 
            </li>
            <li data-bind="visible: $parent.show()">
                <span class="titlelong">行程安排：</span>     <span class="cont" data-bind="text:$data.plan"></span>  
            </li>
            <li>
                <span class="title"> 起草时间：</span>   
                <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['createTime']))"></span>
            </li>
        </ul>
    </div>

    <div class=" mar20 zjList" data-bind='visible: isApproval()'>
        <span class="w75 textR">转交人：</span>
        <select id="basicSelect" data-bind="ojComponent: {component: 'ojSelect',
                                value: additionalApprovalment,
                                placeholder: '',
                                rootAttributes: {style:'max-width:18em'}, options: dl.getOptionsByName('employees', true)}">
        </select>
    </div>
    <div class=" mar20 zjList" data-bind='visible: isApproval()'>
        <span class="w75">审批意见：</span>
        <textarea id="textarea1" 
                  type="text"
                  class="oj-form-control oj-textarea-nocomp"
                  data-bind="value: processComment">

        </textarea>

    </div>
    <div class="mar20 disFlex" data-bind='visible: isApproval()'>
        <button class="button" data-bind="attr: {id : 0}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '同意'}"></button>
        <button class="button" data-bind="attr: {id : 1}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '驳回'}"></button>
        <button class="button" data-bind="attr: {id : 2}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '回退'}"></button>
        <button class="button" data-bind="attr: {id : 3}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '转交'}"></button>
    </div>   
    <button class='mar20 jindu mb40' data-bind="event: {click: jinduClick}">进度</button>
    <script type="text/html" id="folder_template">
        <ul class="list">
            <li>
                <span class="title">流程类型：</span></br>   <span class="cont" data-bind="text:dl.getLabelByValue('employees', $data.employeeId)"></span>
            </li>
            <li>
                <span class="title">申 请 人：</span></br>   <span class="cont" data-bind="text:dl.getLabelByValue('employees', $data.employeeId)"></span>
            </li>
            <li>
                <span class="title">工号：</span>   <span class="cont" data-bind="text:$data.employeeNo"></span>
            </li>
            <li>
                <span class="title">部门：</span>   <span class="cont" data-bind="text:dl.getLabelByValue('all_departments', $data.departmentId)"></span>
            </li>
            <li>
                <span class="title"> 归属公司：</span>   
                <span class="cont" data-bind="text:dl.getLabelByValue('system_dictionary_26', $data.companyId)"></span>
            </li>
            <li>
                <span class="title"> 开始日期：</span>   
                <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['startDate']))"></span>
            </li>
            <li>
                <span class="title"> 开始时段：</span> 
                <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['startDateDetail']))"></span>
            </li>
            <li>
                <span class="title"> 结束日期：</span>   
                <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['endDate']))"></span>
            </li>
            <li>
                <span class="title"> 结束时段：</span> 
                <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['endDateDetail']))"></span>
            </li>   
            <li>
                <span class="title">天数：</span>   <span class="cont" data-bind="text:$data.days"></span> 
            </li>
            <li>
                <span class="title"> 出差地址：</span>   <span class="cont" data-bind="text:$data.address"></span> 
            </li>
            <li>
                <span class="title"> 申请缘由：</span>    <span class="cont" data-bind="text:$data.reason"></span>
            </li>
            <li>
                <span class="title">备注：</span>    <span class="cont" data-bind="text:$data.remark"></span>  
            </li>
            <li>
                <span class="titlelong">项目名称：</span>    <span class="cont" data-bind="text:$data.projectName"></span> 
            </li>
            <li>
                <span class="titlelong">项目编号：</span>     <span class="cont" data-bind="text:$data.projectCode"></span>  
            </li>
            <li>
                <span class="title"> 起草时间：</span>   
                <span data-bind="text: dl.datetimeConverter.format(dl.parseValueFromService($data['createTime']))"></span>
            </li>
            <li>
                <span class="title"> 附件：</span>  
                <a class='attachment' target='_self' data-bind="attr:{href : $data['attachment']}" >
                    <i class='link' data-bind="text:dl.isNullOrUndefined($data['attachment']) ? '无':$data['attachment']"></i>
                    <span class='attachmentWarning'>（附件可打开预览）</span>
                </a>
            </li>
        </ul>
    </script>

