
<div id="cNnavlistcontainer" class="demo-panel-contrast1 oj-contrast-marker">
    <div class="topHeader" >
        <button class="buttonIcon2 arrLeft"
                data-bind=" click: dl.backToClick,
                               ojComponent: {
                                   component:'ojButton', 
                                   icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}, 
                                   label: ''
                               }">
        </button>
        <h3 id="header" class="itemTitle" data-bind="text:specialHeaderTitle"></h3>
    </div>
  <div class=" disFlex mt70" data-bind="visible:isApproval()"> 
        <button class="button" data-bind="attr: {id : 0}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '同意'}"></button>
        <button class="button" data-bind="attr: {id : 1}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '驳回'}"></button>
        <button class="button" data-bind="attr: {id : 2}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '回退'}"></button>
        <button class="button" data-bind="attr: {id : 3}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '转交'}"></button>
    </div>   
   <button class='mar20 jindu' data-bind="event: {click: jinduClick},style:{marginTop:isApproval()? '20px' :'70px'}">进度</button>
    <div id='mainmenu' data-bind="ojComponent:{
                            component:'ojListView',
                            drillMode:'sliding',
                            data: dataSource,
                            item: { template: 'pe-folder_template' }
                }">
    </div>
    <h3 class="navTitle">明细</h3>
    <div id="navlistcontainer3" class="demo-panel-contrast1 oj-contrast-marker">
        <div id='mainmenu' data-bind="ojComponent:{
                            component:'ojListView',
                            drillMode:'sliding',
                            data: dataSource1,
                            item: { template: 'pe-folder_template1' }
                }">
        </div>
    </div>
<div class=" mar20 zjList" data-bind='visible:isApproval()'>
    <span class="w75 textR">转交人：</span>
    <select id="basicSelect" data-bind="ojComponent: {component: 'ojSelect',
                                value: additionalApprovalment,
                                placeholder: '',
                                rootAttributes: {style:'max-width:18em'}, options: dl.getOptionsByName('employees', true)}">
            </select>
</div>
<div class=" mar20 zjList" data-bind='visible:isApproval()'>
    <span class="w75">审批意见：</span>
    <textarea id="textarea1" 
         type="text"
         class="oj-form-control oj-textarea-nocomp"
        data-bind="value: processComment">
    </textarea>        
</div>
    <div class="mar20 disFlex mt40" data-bind='visible:isApproval()'>
        <button class="button" data-bind="attr: {id : 0}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '同意'}"></button>
        <button class="button" data-bind="attr: {id : 1}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '驳回'}"></button>
        <button class="button" data-bind="attr: {id : 2}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '回退'}"></button>
        <button class="button" data-bind="attr: {id : 3}, event: {click: submitClick}, ojComponent: {component: 'ojButton', label: '转交'}"></button>
    </div>   
    <button class='mar20 jindu mb40' data-bind="event: {click: jinduClick}">进度</button>
</div>

<script type="text/html" id="pe-folder_template">
    <ul class='list'>
        <li>
            <span class="title">申请人：</span>  <span data-bind="text:dl.getLabelByValue('employees', $data['employeeId'])" ></span>
        </li>
    </ul>
</script>
<script type="text/html" id="pe-folder_template1">
    <ul class='list'>
        <li>
            <span class="title">员工编号：</span>  <span data-bind="text: $data['employeeNo']" ></span>
        </li>
          <li>
            <span class="title">员工姓名：</span>  <span data-bind="text:$data['employeeName']" ></span>
        </li>
          <li>
            <span class="title">部门名称：</span>  <span data-bind="text:dl.getLabelByValue('departments', $data['departmentId'])" ></span>
        </li>
          <li>
            <span class="title">职级：</span>  <span data-bind="text:dl.getLabelByValue('system_dictionary_3', $data['gradeId'])" ></span>
        </li>
        <h3 ></h3>
    </ul>
</script>