<div id='rBmain-header'>
    <button class="buttonIcon2 arrLeft"
            data-bind=" click: dl.backToClick,
                               ojComponent: {
                                   component:'ojButton', 
                                   icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}
                               }">
    </button>
    <h3 id="header" class="itemTitle" data-bind="text:dl.headerTitle"></h3>
</div>
<div id="mPnavlistcontainer" class="demo-panel-contrast1 oj-contrast-marker" >
    <div id='mPmainmenu' data-bind="ojComponent:{
                            component:'ojListView',
                            drillMode:'sliding',
                            data: dataSource,
                            item: { template: 'folder_template' },
                            selection: selectedItem
                }">

    </div>
</div>

<script type="text/html" id="folder_template">
    <li class="appList" data-bind="attr: {id: $data['activitieId']}, event:{click:$parent.iClicked}">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-middle oj-flex-bar">
                <div data-bind="attr: {class: 'demo-list-icon-16 demo-icon-font',style:'color:#00ccff;'}">
                </div>
                  <div class="oj-flex-bar-middle oj-flex-bar dhsl">       
                     <span class='third' data-bind="text: dl.dateViewConverter.format(dl.parseValueFromService($data['meetTime']))+'(会议主题:'+$data['meetTitle']+')'"></span>
                  </div>
<!--                <div class="oj-flex-bar-middle_con oj-flex-bar-middle_left" data-bind="text: dl.dateViewConverter.format(dl.parseValueFromService($data['meetTime']))+'(时间:'+dl.timeConverter.format(dl.parseValueFromService($data['meetTime']))+' 登记人:'+dl.getLabelByValue('employees', $data['operateEmployeeId'])+')'"></div>-->
            </div>
            <div class="oj-flex-bar-end oj-sm-align-items-end">
                <div role="presentation" class="oj-flex-item oj-fwk-icon oj-listview-drill-icon"></div>
            </div>      
        </div>

    </li>
</script>